table {
  width: 100%;
  border-collapse: collapse;
  background: rgb(59, 56, 56);
  margin-top: 30px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #161313;
}

tr:nth-child(even) {
  background-color: #080529;
}

tr:hover {
  background-color: #332b2b;
}
